.notify-bar.md-dark { color: rgba(0, 0, 0, 0.54); }
.notify-bar.md-green { color: rgba(35, 241, 80, 0.808); }
.notify-bar.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.notify-bar.md-light { color: rgba(255, 255, 255, 1); }
.success-background { background: lime}
.notify-bar-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.notify-bar-icon.green600 { color: #4BF57B; }
