<div fxLayout="column" class="store-component default-fonts">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign=" center">
      <div>
        <p>Camisa Oficial</p>
        <p>Compre a sua</p>
      </div>
      <div>
        <img
          src="https://i.imgur.com/ZiWfcbj.png"
          alt=""
          class="effect-zoom"
          width="200px"
          height="250px"
        />
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" center">
      <div>
        <p>Acessórios</p>
        <p>Do Verdão</p>
      </div>
      <div>
        <img
          src="https://i.imgur.com/dU4EfiK.png"
          class="effect-zoom"
          alt="Boné Guarani"
          width="250px"
          height="250px"
        />
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <div style="position: relative; min-width: 500px">
        <p style="padding-top: 130px">Seja Sócio!</p>
        <p>Garanta</p>
        <img
          src="https://i.imgur.com/vcEdP3v.png"
          alt="Cartão Sócio Guarani"
          width="300px"
          height="250px"
          class="effect-zoom"
          style="position: absolute; top: 0; right: 0;"
        />
        <p>Seu Lugar no Caldeirão</p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center">
      <div>
        <button type="button" class="store-button">Seja Verdão</button>
      </div>

      <div>
        <img
          src="https://i.imgur.com/CUrwYeW.png"
          alt="Jogadores Guarani"
          width="350px"
          height="298px"
        />
      </div>
    </div>
  </div>
</div>
