.store-component {
  background-image: url('https://i.imgur.com/5e3SNR2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  padding: 90px 40px 0;

}

.default-fonts {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #f5f5f5;
  line-height: 33px;
}

.effect-zoom:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  cursor: pointer;
}

.store-button {
  width: 203px;
  height: 50px;
  color: white;
  background: #042d01;
  border: 1px solid rgba(218, 165, 32, 0.8);
  border-radius: 8px;

  transition-duration: 0.5s;
  transition-property: background-color;

  &:hover {
    background: #064703;
    cursor: pointer;
  }
}
