.container-companies {
  background-color: #494440;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10px;
}
.card-img-company {
  position: relative;
  width: 160px;
  height: 160px;
  box-sizing: border-box;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover .card-img-company-hover {
    visibility: visible;
  }

  .card-img-company-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;

    padding: 120px 10px 0;
    border: var(--vermelho-claro) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    font: bold 18px Roboto;
    color: white;

    visibility: hidden;

    .float-top-button {
      position: absolute;
      top: 0;
      right: 0;
    }

    .btn-selecionar {
      max-height: 32px;
    }
  }
}
