<div
  style="
    margin: 36px;
    border-radius: 16px;
    background-color: white;
    height: calc(100% - 136px);
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
  ">
  <div class="container-companies">
    <div
      *ngFor="let row of companies; let indexRow = index"
      style="display: flex; flex-direction: row; justify-content: space-around">
      <div
        *ngFor="let col of row; let indexCol = index"
        class="card-img-company">
        <img
          *ngIf="col.image?.url"
          src="{{ col.image?.url }}"
          alt="Empresas que trabalham conosco" />
        <div class="card-img-company-hover">
          <button
            mat-icon-button
            color="primary"
            class="float-top-button"
            (click)="delete(col)">
            <mat-icon>delete</mat-icon>
          </button>
          <input
            #fileInput
            (change)="changeImage(indexCol, indexRow, fileInput)"
            type="file"
            id="docpicker"
            accept=".png"
            style="display: none" />
          <button
            mat-raised-button
            color="primary"
            class="btn-selecionar"
            (click)="fileInput.click()">
            <mat-icon style="scale: 0.7">autorenew</mat-icon>
            Selecionar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
