@mixin fonte-nunito {
  font-family: 'Nunito', serif;
  font-style: normal;
}

.fonte-nunito-branca {
  @include fonte-nunito;
  color: #FFFFFF;
}

.fonte-nunito-cinza {
  @include fonte-nunito;
  color: #494440;
}

.fonte-nunito-branca-14px {
  @extend .fonte-nunito-branca;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.fonte-nunito-cinza-14px {
  @extend .fonte-nunito-cinza;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.fonte-nunito-cinza-bold-14px {
  @extend .fonte-nunito-cinza-14px;
  font-weight: 900;
}

@mixin fonte-open-sans {
  font-family: 'Open Sans', serif;
  font-style: normal;
}

.fonte-openSans-vermelha-18px {
  @include fonte-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #C30C00;
}

@mixin fonte-poppins {
  font-family: 'Poppins', serif;
  font-style: normal;
}

.fonte-poppins-cinza-claro-12px {
  @include fonte-poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #90A0B7;
}

.fonte-poppins-cinza-escuro-12px {
  @extend .fonte-poppins-cinza-claro-12px;
  color: #494440;
}
