<div *ngIf="model">
  <img [src]="model.image?.url" alt="banner blog" height="540px" width="100%" />
  <div style="padding: 5%">
    <strong
      *ngIf="model.createdAt"
      style="font-family: Poppins; font-size: 20px; font-weight: 700">
      <p style="color: #042d01; margin-bottom: 18px">
        {{
          ((model.createdAt | date: 'd MMMM, y':'GMT-3':'pt-BR') || '')
            .toString()
            .toUpperCase()
        }}
      </p>
      <p style="color: #242424; margin-bottom: 50px">
        {{ model.title }}
      </p>
    </strong>
  </div>
  <div [innerHTML]="safeHtml" class="post-content"></div>
</div>
