.post-content {
  padding: 0 5% 60px;
}

@mixin botao-padrao($cor-fundo, $cor-texto) {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: capitalize;

  color: $cor-texto;
  background-color: $cor-fundo;
  border: 0 none;
  border-radius: 24px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  box-shadow: 2px 5px 10px #ddd;

  &:hover {
    transition: all 150ms linear;
    opacity: 0.85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: 0.75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
  &:disabled {
    background-color: #a1a1a1;
    color: #4f4f4f;
    cursor: auto;
  }
}

.btn-vermelho-branco {
  @include botao-padrao(#c30c00, white);
}

.btn-branco-vermelho {
  @include botao-padrao(white, #c30c00);
}

.cabecalho {
  box-shadow: inset 0 10px 10px -10px #aaa;
  background-color: #494440;
  overflow: hidden;

  .btn-vermelho-branco {
    padding: 5px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: none;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  .btn-branco-vermelho {
    padding: 5px 30px;
    margin: 10px 0;
    border: solid 1px #c30c00;
    border-radius: 16px;
    box-shadow: none;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .titulo-branco {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    margin: 10px 0;
    color: white;
  }

  #carrossel-btn-leia-mais {
    padding: 5px 30px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  #div-direita {
    position: relative;
    height: 335px;
    width: 500px;

    .img-diagonal {
      position: absolute;
      top: -9%;
      right: -5%;
      height: 400px;
      width: 500px;
      shape-outside: polygon(25% 9%, 95% 9%, 75% 91%, 5% 91%);
      shape-image-threshold: 0.2;
      clip-path: polygon(25% 9%, 95% 9%, 75% 91%, 5% 91%);
    }
  }
}
