<div class="news">
  <div class="news-top">
    <div
      fxFlex="50"
      class="c-big-card-news"
      [routerLink]="newsPagePath + '/' + newsArray[0].slug">
      <img
        [src]="newsArray[0].image.url"
        [alt]="newsArray[0].slug"
        height="100%"
        class="border-radius-24px" />
      <div class="c-big-card-news-text">
        <p>
          {{ newsArray[0].title }}
        </p>
      </div>
    </div>

    <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
      <div
        fxFlex="48"
        fxLayout="row"
        class="c-normal-card-news"
        [routerLink]="newsPagePath + '/' + newsArray[1].slug">
        <img
          fxFlex="60"
          [src]="newsArray[1].image.url"
          [alt]="newsArray[1].slug"
          height="100%" />
        <div fxFlex="40" class="l-content">
          <p class="l-title">
            {{ newsArray[1].title }}
          </p>
          <p class="l-createdAt">
            {{ newsArray[1].createdAt | date: 'dd MMM yyyy' | titlecase }}
          </p>
        </div>
      </div>

      <div
        fxFlex="48"
        class="c-normal-card-news"
        [routerLink]="newsPagePath + '/' + newsArray[2].slug">
        <img
          fxFlex="60"
          [src]="newsArray[2].image.url"
          [alt]="newsArray[2].slug"
          height="100%"
          class="border-radius-24px" />
        <div fxFlex="40" class="l-content">
          <p class="l-title">
            {{ newsArray[2].title }}
          </p>
          <p class="l-createdAt">
            {{ newsArray[2].createdAt | date: 'dd MMM yyyy' | titlecase }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="news-footer">
    <div
      fxFlex="50"
      class="c-normal-card-news"
      [routerLink]="newsPagePath + '/' + newsArray[3].slug">
      <img
        fxFlex="60"
        [src]="newsArray[3].image.url"
        [alt]="newsArray[3].slug"
        height="100%"
        class="border-radius-24px" />
      <div fxFlex="40" class="l-content">
        <p class="l-title">{{ newsArray[3].title }}a</p>
        <p class="l-createdAt">
          {{ newsArray[3].createdAt | date: 'dd MMM yyyy' | titlecase }}
        </p>
      </div>
    </div>
    <div
      fxFlex="50"
      class="c-normal-card-news"
      [routerLink]="newsPagePath + '/' + newsArray[4].slug">
      <img
        fxFlex="60"
        [src]="newsArray[4].image.url"
        [alt]="newsArray[4].slug"
        height="100%"
        class="border-radius-24px" />
      <div fxFlex="40" class="l-content">
        <p class="l-title">
          {{ newsArray[4].title }}
        </p>
        <p class="l-createdAt">
          {{ newsArray[4].createdAt | date: 'dd MMM yyyy' | titlecase }}
        </p>
      </div>
    </div>
  </div>
</div>
