.news {
  width: 100%;
  padding: 90px 40px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 24px;

  .news-top {
    max-height: 468px;
    width: 100%;

    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
  }

  .news-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    height: 225px;
  }

  img {
    width: 100%;
  }

  .c-big-card-news {
    position: relative;

    .c-big-card-news-text {
      position: absolute;
      left: 0;
      right: 0;
      top: 70%;
      background: white;
    }
    cursor: pointer;
    transition: all ease 0.5s;

    &:hover {
      scale: 1.01;
    }

    p {
      margin: 16px 24px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      text-transform: capitalize;

      color: #042d01;
    }
  }

  .c-normal-card-news {
    background: white;
    border: 1px solid #daa520;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all ease 0.5s;

    &:hover {
      scale: 1.01;
    }

    .l-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 12px;

      .l-title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        color: #042d01;
      }

      .l-createdAt {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 18px;
        color: #daa520;
      }
    }

    img {
      border-radius: 0 24px 24px 0;
    }
  }
}
