@import "/src/assets/styles/dialog-default/dialog-default";

mat-form-field + mat-form-field {
  padding-left: 12px;
}

.mat-raised-button {
  border-radius: 8px !important;
  line-height: 32px !important;
}
