<div>
  <h1 class="titulo-dialog">Adicionar Novo Plano</h1>
  <form #form="ngForm" fxLayout="column" fxLayoutGap="12px">
    <div fxLayout="row" fxLayoutAlign="space-around">
      <mat-form-field appearance="outline" fxFlex="33" color="accent">
        <mat-label>Produto</mat-label>
        <input
          [(ngModel)]="model.product"
          type="text"
          name="produto"
          id="produto"
          matInput
          required />
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="33" color="accent">
        <mat-label>Cobrança</mat-label>
        <mat-select [(ngModel)]="model.charge" name="cobranca" required>
          <mat-option [value]="'A'">Anual</mat-option>
          <mat-option [value]="'M'">Mensal</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="33" color="accent">
        <mat-label>Valor</mat-label>
        <input
          [(ngModel)]="model.value"
          currencyMask
          type="text"
          name="valor"
          id="valor"
          matInput
          required />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="15px">
      <mat-form-field appearance="outline" color="accent" fxFlex="75">
        <mat-label>Funções</mat-label>
        <mat-select
          [(ngModel)]="this.model.plans.functions"
          (selectionChange)="refreshList()"
          [compareWith]="compareObjects"
          name="planos"
          multiple>
          <mat-option
            *ngFor="let func of functions"
            [value]="{ func: func, level0: true }">
            {{ func.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="25" fxLayout="column" fxLayoutAlign="center">
        <button
          [disabled]="model.plans?.functions?.length === 0"
          (click)="newPlan()"
          mat-raised-button
          color="primary">
          <mat-icon>add</mat-icon>
          Add Plano
        </button>
      </div>
    </div>
    <div fxLayout="row">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="width: 100%">
        <ng-container matColumnDef="func">
          <th mat-header-cell *matHeaderCellDef>Funções</th>
          <td mat-cell *matCellDef="let element">{{ element.func.name }}</td>
        </ng-container>

        <ng-container
          *ngFor="let level of model.plans.titles; let i = index"
          [matColumnDef]="'level' + i">
          <th mat-header-cell *matHeaderCellDef>{{ level }}</th>
          <td mat-cell *matCellDef="let element">{{ element['level' + i] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div
      class="dialog-actions"
      fxLayout="row"
      fxLayoutAlign="end"
      fxLayoutGap="32px">
      <button mat-raised-button [mat-dialog-close]="false" type="button">
        <mat-icon> close </mat-icon>
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || form.form.invalid"
        [mat-dialog-close]="model">
        <mat-icon> check_circle </mat-icon>
        Finalizar
      </button>
    </div>
  </form>
</div>
