footer {
  background-color: #040404;
  min-height: 157px;

  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.div-esquerda {
  padding-left: 20px;

  text-align: left;
}

.div-direita {
  padding-right: 20px;

  text-align: right;
}


.social_icones {
  width: 26px;
  height: 26px;
  padding: 4px;
  margin: 4px;
}
