<footer fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row"
       fxLayoutAlign="start end"
       fxLayout.lt-sm="column">
    <div class="houver-opacify houver-intensify padding-10-px">
      <a routerLink="/">
        <img src="/assets/images/logo_guarani.png" alt="Logotipo com descrição" width="110px" height="137px">
      </a>
    </div>
    <div style="color: white">
      <p>
        Guarani Futsal
      </p>
      <p>
        © GUARANI FUTSAL - TERMO DE USO E POLITICA DE PRIVACIDADE
      </p>
    </div>
  </div>
  <div class="div-direita">
    <div fxLayout="row wrap" fxLayoutAlign="end">
      <div *ngFor="let icone of socialIcons" class="houver-intensify">
        <a [href]="icone.href" target="_blank">
          <img class="social_icones" [src]="icone.src" [alt]="icone.alt">
        </a>
      </div>
    </div>
    <img src="https://i.imgur.com/jVaBE3F.png" alt="Logotipo" width="72px" height="49px">
    <p>
      Desenvolvido por:
    </p>
  </div>
</footer>
