<div class="padding-16-32px">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="margin-bottom: 16px">
    <div
      class="fonte-poppins-cinza-claro-12px form-field-pesquisa"
      fxFlex="50"
      fxLayout="row"
      fxLayoutAlign=" center">
      <mat-icon style="position: absolute; left: 5px; color: #90a0b7">
        search
      </mat-icon>
      <input
        placeholder="Ex. Desmonte"
        type="text"
        id="search"
        name="search"
        class="input-search input-with-icon" />
    </div>
    <div>
      <button (click)="openNewPlan()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add Plano
      </button>
    </div>
  </div>
  <app-generic-list
    #signaturesList
    [displayedColumns]="displayedColumns"
    [actions]="actions"
    style="margin-top: 16px">
  </app-generic-list>
</div>
