<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.name">
        {{ column.description }}
      </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="column.getValue">
          {{ column.getValue(row[column.name]) }}
        </span>
        <span *ngIf="!column.getValue">
          {{ row[column.name] }}
        </span>
      </td>
    </ng-container>

    <ng-container
      *ngIf="actions && actions.actions"
      [matColumnDef]="actions.name">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="actions.name"
        [style]="'width: ' + 40 * actions.actions.length + 'px'">
        {{ actions.columnName }}
      </th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          *ngFor="let action of actions.actions"
          (click)="action.funcAction(row)">
          <span class="material-symbols-outlined" [style]="action.style">
            {{ action.icon }}
          </span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsNames()"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames()"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Não foram encontrados resultados para o filtro "{{ filter.value }}"
      </td>
    </tr>
  </table>

  <div style="padding: 0 15px">
    <workspace-paginator
      [paginate]="paginate"
      (pageChange)="pageChange($event)">
    </workspace-paginator>
  </div>
</div>
