table {
  width: 100%;

  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #494440;

  th {
    font-weight: 700;
    color: #494440;

  }
}
