<div class="gallery" fxLayout="row" fxLayoutGap="12px">
  <div fxFlex="77">
    <img
      src="https://i.imgur.com/GoPIBnd.png"
      alt="Gallery"
      class="border-radius-24px gallery-first-image"
    />
  </div>

  <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-between">
    <div fxFlex="48">
      <img
        src="https://i.imgur.com/HsUNDky.png"
        alt="Gallery"
        class="border-radius-24px gallery-other-image"
      />
    </div>

    <div fxFlex="48">
      <img
        src="https://i.imgur.com/HsUNDky.png"
        alt="Gallery"
        class="border-radius-24px gallery-other-image"
      />
    </div>
  </div>
</div>
