.gallery-first-image {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: auto;
  }

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.gallery-other-image {
  width: 100%;
  height: 100%;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.gallery {
  height: 624px;
  width: 100%;
  padding: 90px 40px 0;
}
