<div style="max-height: 600px; overflow: auto">
  <div fxLayout="row" fxLayoutAlign="end">
    <button
      [mat-dialog-close]=""
      tabindex="-1"
      mat-icon-button
      style="position: absolute; right: 0; top: 0; z-index: 1">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <workspace-post [model]="model"></workspace-post>
</div>
