<div class="tabs-container">
  <ul fxLayout="row" fxLayoutAlign="center">
    <li *ngFor="let tab of tabs; let i = index"
        [ngClass]="{'active': tab.active === true }"
        [style]="retornaStyleLable(i)"
        (click)="selectTab(tab)"><p>{{ tab.tabTitle }}</p></li>
  </ul>
  <ng-content class="content"></ng-content>
</div>
