$menu-item-height: 46px;

$color-primary-light: #F5F5F5;
$color-primary-dark: var(--cinza-escuro);
$color-text: $color-primary-dark;
$border-color: var(--vermelho-claro);

.tabs-container {
  ul {
    min-height: $menu-item-height;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: $color-primary-dark;

    li {
      min-width: 300px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      background-color: $color-primary-light;
      color: $color-text;
      border-bottom: solid 1px $border-color;

      p {
        padding: 15px;
        margin-bottom: 0;
        font-family: 'Libre Baskerville';
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        opacity: 0.3;
      }

      &:hover {
        opacity: 90%;
      }
    }

    .active {
      border-top: solid 1px $border-color;
      border-left: solid 1px $border-color;
      border-right: solid 1px $border-color;
      border-bottom: 0;
      p{
        opacity: 1;
      }
    }

  }
}

