<div class="padding-16-32px">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="margin-bottom: 16px">
    <div>
      <label>Mostrando</label>
      <select
        [(ngModel)]="showing"
        (ngModelChange)="listSignatures.refreshData(showing, filter)"
        class="form-field-select"
        name="showing">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
    <div
      class="fonte-poppins-cinza-claro-12px form-field-pesquisa"
      fxFlex="50"
      fxLayout="row"
      fxLayoutAlign=" center">
      <mat-icon style="position: absolute; left: 5px; color: #90a0b7">
        search
      </mat-icon>
      <input
        [(ngModel)]="filter.value"
        (ngModelChange)="listSignatures.refreshData(showing, filter)"
        placeholder="Ex. Desmonte"
        type="text"
        id="search"
        name="search"
        class="input-search input-with-icon" />
    </div>

    <div>
      <button
        class="default-button"
        (click)="openNewPost()"
        mat-raised-button
        color="primary">
        <mat-icon>add</mat-icon>
        Add Notícia
      </button>
    </div>
  </div>
  <app-generic-list
    #listSignatures
    [endPoint]="endPoint"
    [displayedColumns]="displayedColumns"
    [actions]="actions"
    style="margin-top: 16px">
  </app-generic-list>
</div>
