.app-component {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;

  background-image: url('../assets/images/bg-logo-guarani.png');
  background-color: #bbbbbb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 13%;
    width: 100%;
    background: #042d01;
    border-bottom: 5px solid #daa520;
    font-family: Poppins, serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    z-index: 1001;
  }

  .toolbar-links {
    a {
      color: #fff;
      padding: 20px 8px;
      margin: 10px 0;
      border-radius: 12px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 700;

      &:hover {
        backdrop-filter: brightness(80%);
      }
    }
  }

  .logo-left {
    margin-left: 40px;
    img {
      width: 110px;
      height: 141px;
    }
  }

  .logo-right {
    -webkit-box-shadow: 0 2px 3px 1px rgb(0 0 0 / 50%);

    width: 110px;
    right: 0;
    top: 0;

    background: #ffffff;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.25);
  }

  .logo-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #042d01;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
