<div class="app-component" (scroll)="onScroll($event)">
  <header class="header" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="logo-left">
      <a class="" href="#">
        <img src="assets/images/logo_guarani.png" alt="Logo" class="" />
      </a>
    </div>
    <div
      class="toolbar-links"
      fxFlex="70"
      fxLayout="row"
      fxLayoutAlign="space-around center">
      <a href="#">O Clube </a>
      <a [href]="routes.newsPagePath">Notícias</a>
      <a href="#">Elenco</a>
      <a href="#">Tabela de Jogos</a>
      <a href="#">Conquistas</a>
      <a href="#">Produtos Oficiais</a>
    </div>

    <div class="logo-right">
      <a class="" href="#">
        <p>Seja Sócio</p>
      </a>
    </div>
  </header>
  <main style="padding-top: 99px">
    <router-outlet> </router-outlet>
  </main>
  <footer>
    <guarani-workspace-footer></guarani-workspace-footer>
  </footer>
</div>
