<div>
  <h1 class="titulo-dialog">{{ dialogData.title }}</h1>
  <div class="acoes" [style]="'justify-content: ' + dialogData.align">
    <button type="button" mat-raised-button (click)="close(false)">
      <span class="material-symbols-outlined">
        {{ dialogData.iconCancel }}
      </span>
      {{ dialogData.buttonCancel }}
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="close(true)">
      <span class="material-symbols-outlined">
        {{ dialogData.iconConfirm }}
      </span>
      {{ dialogData.buttonConfirm }}
    </button>
  </div>
</div>
