<div>
  <div>
    <h2 class="text-center sponsors-title uppercase mt-4">
      Patrocinador Master
    </h2>
    <div fxLayoutAlign="center">
      <img
        src="https://i.imgur.com/ZxUGwpV.png"
        alt="Patrocinador master"
        class="sponsors-logo sponsors-logo-effect"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <h2 class="text-center sponsors-title uppercase mt-4">
      Patrocinador
    </h2>

    <div fxLayoutAlign="center">
      <img
        src="https://i.imgur.com/dDzXZxK.png"
        alt="Patrocinadores"
        class="sponsors-logo sponsors-logo-effect"
      />
      <img
        src="https://i.imgur.com/AOF5h4B.png"
        alt="Patrocinadores"
        class="sponsors-logo sponsors-logo-effect"
      />
      <img
        src="https://i.imgur.com/YcBRAMU.png"
        alt="Patrocinadores"
        class="sponsors-logo sponsors-logo-effect"
      />
      <img
        src="https://i.imgur.com/I9B7KLx.png"
        alt="Patrocinadores"
        class="sponsors-logo sponsors-logo-effect"
      />
      <img
        src="https://i.imgur.com/d6BE97a.png"
        alt="Patrocinadores"
        class="sponsors-logo sponsors-logo-effect"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <h2 class="text-center sponsors-title uppercase mt-4">
      Parceiros
    </h2>

    <div fxLayoutAlign="center">
      <img
        src="https://i.imgur.com/sDmG6aJ.png"
        alt="Parceiros"
        class="sponsors-logo sponsors-logo-effect"
      />
      <img
        src="https://i.imgur.com/YcBRAMU.png"
        alt="Parceiros"
        class="sponsors-logo sponsors-logo-effect"
      />
      <img
        src="https://i.imgur.com/GjsaVlb.png"
        alt="Parceiros"
        class="sponsors-logo sponsors-logo-effect"
      />
    </div>
  </div>
</div>
