.sponsors-logo-effect {
  filter: grayscale(100%);
  transition: all 0.3s;
}

.sponsors-logo-effect:hover {
  filter: grayscale(0%);
  transition: all 0.3s;
}

.sponsors-logo {
  width: 143px;
  height: 110px;
}

.sponsors-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #daa520;
}
