.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem; }
.ngx-pagination::before, .ngx-pagination::after {
  content: ' ';
  display: table; }
.ngx-pagination::after {
  clear: both; }
.ngx-pagination li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: 0.0625rem;
  border-radius: 0; }
.ngx-pagination li {
  display: inline-block; }
.ngx-pagination a,
.ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0; }
.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #e6e6e6; }
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2199e8;
  color: #fefefe;
  cursor: default; }
.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #cacaca;
  cursor: default; }
.ngx-pagination .disabled:hover {
  background: transparent; }
.ngx-pagination a, .ngx-pagination button {
  cursor: pointer; }
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: '«';
  display: inline-block;
  margin-right: 0.5rem; }
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: '»';
  display: inline-block;
  margin-left: 0.5rem; }
.ngx-pagination .show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }
.ngx-pagination .small-screen {
  display: none; }
@media screen and (max-width: 601px) {
  .ngx-pagination.responsive .small-screen {
    display: inline-block; }
  .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    display: none; }
}

.ngx-pagination a,
.ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}

.ngx-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;

  a, button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border-radius: 8px;
    min-height: 30px;
    background-color: #dddddd;

    &:hover {
      background: #cccccc;
      border-radius: 8px;
    }
  }
  .current {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--vermelho-claro);
    border-radius: 8px;
    min-height: 30px;
    margin: 0 auto;
  }
}
