<div class="margin-5-pct" fxLayout="row" fxLayoutAlign="space-between center">
  <p>{{ getMessageCurrentPagination() }}</p>
  <ul class="ngx-pagination" [class.responsive]="true">
    <li
      class="pagination-previous"
      [class.disabled]="paginate.currentPage === 1">
      <a *ngIf="!isFirstPage()" (click)="previous()"></a>
    </li>

    <li
      *ngFor="let page of pages()"
      [class.current]="paginate.currentPage === page">
      <a (click)="setCurrent(page)" *ngIf="paginate.currentPage !== page">
        <span>{{ page }}</span>
      </a>
      <div *ngIf="paginate.currentPage === page">
        <span>{{ page }}</span>
      </div>
    </li>

    <li class="pagination-next" [class.disabled]="isLastPage()">
      <a *ngIf="!isLastPage()" (click)="next()"></a>
    </li>
  </ul>
</div>
