<div style="max-height: 600px; overflow: auto">
  <h1 class="titulo-dialog">Adicionar Nova Notícia</h1>
  <form #form="ngForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="24px">
      <mat-form-field appearance="outline" fxFlex="100" color="accent">
        <mat-label>Nome</mat-label>
        <input
          [(ngModel)]="model.title"
          type="text"
          name="nome"
          id="nome"
          matInput
          required />
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="24px">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="8px">
          <input
            #inputImg
            (change)="changeImage(inputImg)"
            accept="image/png, image/jpeg"
            style="display: none"
            type="file"
            name="img"
            id="img" />
          <button
            (click)="inputImg.click()"
            class="default-button"
            mat-raised-button
            color="primary">
            <mat-icon>add</mat-icon>
            Selecionar Capa
          </button>
          <span
            class="fonte-poppins-cinza-claro-12px"
            style="font-style: italic; font-size: 10px">
            Selecione uma imagem 1280x720
          </span>
        </div>
        <div
          *ngIf="!model.image"
          style="padding-bottom: 20px"
          fxLayoutAlign=" center">
          <label class="fonte-poppins-cinza-escuro-12px">
            Nenhuma Imagem Selecionada!
          </label>
        </div>
        <img
          *ngIf="model.image"
          [src]="selectedImage"
          [alt]="model.title"
          width="40px"
          height="40px" />
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <angular-editor
        [(ngModel)]="model.content"
        [ngModelOptions]="{ standalone: true }"
        [config]="editorConfig">
      </angular-editor>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class="dialog-actions">
      <section>
        <mat-checkbox
          [(ngModel)]="model.isMainBanner"
          color="primary"
          name="bannerPrincipal">
          Banner Principal
        </mat-checkbox>
      </section>
      <section fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="32px">
        <button mat-raised-button [mat-dialog-close]="false" type="button">
          <mat-icon> close </mat-icon>
          Cancelar
        </button>
        <button
          (click)="openPreviewPost()"
          mat-raised-button
          color="primary"
          type="button">
          <mat-icon> preview </mat-icon>
          Preview
        </button>
        <div
          (click)="
            form.form.markAllAsTouched();
          ">
          <button
            (click)="save()"
            [disabled]="form.invalid || form.form.invalid"
            mat-raised-button
            color="primary">
            <mat-icon> check_circle </mat-icon>
            Finalizar
          </button>
        </div>
      </section>
    </div>
  </form>
</div>
