@mixin font-Poppins {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  color: #494440;
}

.titulo-dialog {
  @include font-Poppins;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 32px;
}

.message-dialog {
  @include font-Poppins;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
}

.acoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  button + button {
    margin-left: 32px;
  }

  button {
    border-radius: 8px;
    margin: 0;
    padding: 6px 16px;

    font-family: Poppins, Roboto, serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
  }
}
