<div
  style="padding: 40px; gap: 40px; margin-top: 40px"
  fxLayout="row wrap"
  fxLayoutAlign="center">
  <div
    *ngFor="let news of newsArray"
    [routerLink]="routes.newsPagePath + '/' + news.slug"
    class="c-vertical-card-news">
    <img [src]="news.image.url" [alt]="news.slug" />
    <div class="l-content">
      <p class="l-title">
        {{ news.title }}
      </p>
      <p class="l-createdAt">
        {{ news.createdAt | date: 'dd MMM yyyy' | titlecase }}
      </p>
    </div>
  </div>
</div>
