.c-vertical-card-news {
  max-width: 275px;
  max-height: 352px;
  width: 100%;
  height: 352px;

  display: flex;
  flex-direction: column;

  background: white;
  border: 1px solid #daa520;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.5s;

  &:hover {
    scale: 1.01;
  }

  img {
    border-radius: 0 0 24px 24px;
    height: 160px;
    width: auto;
  }

  .l-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px;

    .l-title {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 20px;
      color: #042d01;

      padding: 0 18px;
    }

    .l-createdAt {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 18px;
      text-align: right;
      color: #daa520;

      padding: 0 6px;
    }
  }
}
