<div class="content">
  <!-- Navigation header -->

  <!-- End navigation header -->

  <!-- Team image -->
  <div class="team-main">
    <img src="assets/images/team_guarani.png" alt="Team" />
  </div>
  <!-- End team image -->

  <!-- Next game
  <div
    fxLayout="row"
    fxLayoutAlign="space-around"
    fxLayout.lt-md="column"
    class="next-game"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutAlign.lt-md="center center"
    >
      <p>GUA</p>
      <img
        src="assets/images/sem-imagem.png"
        alt="Logo"
        width="125"
        height="150"
      />

      <p>X</p>

      <img
        src="assets/images/sem-imagem.png"
        alt="Logo"
        width="125"
        height="150"
      />
      <p>ATC</p>
    </div>

    <div fxLayoutAlign.lt-md="center center">
      <div class="default-fonts uppercase">
        <p style="font-size: 24px; color: #daa520">GAUCHÃO - SÉRIA A 2022</p>
        <p style="font-size: 22px; color: #f5f5f5">GUARANI X ATLÂNTICO</p>
        <p style="font-size: 22px; color: #f5f5f5">05/02/2022 às 21:00</p>
        <p style="font-size: 22px; color: #f5f5f5">FREDERICO WESTPHALEN</p>
      </div>
    </div>
  </div>
  End next game -->

  <!-- Gallery -->
  <guarani-workspace-gallery></guarani-workspace-gallery>
  <!-- End gallery -->

  <!-- News -->
  <guarani-workspace-home-news></guarani-workspace-home-news>
  <!-- End home-news -->

  <!-- Team -->
  <!--  <div class="row col-12">-->
  <!--    <img-->
  <!--      src="assets/images/sem-imagem.png"-->
  <!--      alt="Team"-->
  <!--      class="rounded mx-auto d-block"-->
  <!--    />-->
  <!--  </div>-->
  <!-- End team -->

  <!-- Store -->
  <guarani-workspace-store></guarani-workspace-store>
  <!-- End Store -->

  <div class="gray-background">
    <!-- Crowd -->
    <div class="row col-12">
      <h2 class="mt-4 crowd-title text-center uppercase">
        Você <b style="color: black">na Torcida</b>
      </h2>

      <img
        src="https://i.imgur.com/TMlpqUU.png"
        alt="Team"
        width="100%"
        class="rounded mx-auto d-block sponsors-logo-effect" />
    </div>
    <!-- End crowd -->

    <!-- Form send message -->
    <div class="row col-12 formStyle">
      <h2
        class="default-fonts text-center mt-4"
        style="font-size: 40px; color: #000000">
        Envie Sua
        <p style="font-size: 30px">Imagem</p>
      </h2>

      <!--      <form>-->
      <!--        <div class="row justify-content-center">-->
      <!--          <div class="col-sm-8">-->
      <!--            <mat-form-field class="input-field" appearance="outline">-->
      <!--              <mat-label>Nome</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="name"-->
      <!--                placeholder="Nome"-->
      <!--              />-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="col-sm-8">-->
      <!--            <mat-form-field class="input-field" appearance="outline">-->
      <!--              <mat-label>E-mail</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="email"-->
      <!--                placeholder="E-mail"-->
      <!--              />-->
      <!--            </mat-form-field>-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="row justify-content-center">-->
      <!--          <div class="col-sm-4">-->
      <!--            <mat-form-field class="input-field" appearance="outline">-->
      <!--              <mat-label>Telefone</mat-label>-->
      <!--              <input-->
      <!--                matInput-->
      <!--                type="text"-->
      <!--                formControlName="phone"-->
      <!--                placeholder="Telefone"-->
      <!--              />-->
      <!--            </mat-form-field>-->
      <!--          </div>-->

      <!--          <div class="col-sm-4">-->
      <!--            <input-->
      <!--              type="file"-->
      <!--              class="d-none"-->
      <!--              id="button-file"-->
      <!--              accept=".jpeg, .jpg"-->
      <!--              #inputFile-->
      <!--              (change)="upload(inputFile)"-->
      <!--            />-->
      <!--            <div *ngIf="imgSelectedPreview">-->
      <!--              <img width="300px" [src]="imgSelectedPreview" />-->

      <!--              <button-->
      <!--                type="button"-->
      <!--                mat-icon-button-->
      <!--                (click)="removeImagePreview()"-->
      <!--              >-->
      <!--                <mat-icon> delete </mat-icon>-->
      <!--              </button>-->
      <!--            </div>-->
      <!--            <button-->
      <!--              type="button"-->
      <!--              color="primary"-->
      <!--              mat-raised-button-->
      <!--              (click)="openFile()"-->
      <!--              style="color: white; background-color: #000000"-->
      <!--              *ngIf="!imgSelectedPreview"-->
      <!--            >-->
      <!--              Anexar-->
      <!--              <mat-icon>attach_file</mat-icon>-->
      <!--            </button>-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="row justify-content-center">-->
      <!--          <button-->
      <!--            type="submit"-->
      <!--            color="primary"-->
      <!--            mat-raised-button-->
      <!--            (click)="save()"-->
      <!--            style="color: white; background-color: #000000; width: 10%"-->
      <!--            [disabled]="!sendImageForm.valid"-->
      <!--          >-->
      <!--            Enviar-->
      <!--            <mat-icon>send</mat-icon>-->
      <!--          </button>-->
      <!--        </div>-->
      <!--      </form>-->
    </div>
    <!-- End form message -->

    <!-- Sponsors -->
    <guarani-workspace-sponsors></guarani-workspace-sponsors>
    <!-- End sponsors -->
  </div>
</div>
