//.content {
//  width: 100%;
//  height: 100%;
//  position: relative;
//  overflow-x: hidden;
//}

.uppercase {
  text-transform: uppercase;
}

.default-fonts {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #f5f5f5;
  line-height: 33px;
}

.default-border-radius {
  border-radius: 24px;
}

.team-main {
  background: #042d01;
}

.team-main img {
  width: 100%;
}

.navbar a {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;

  text-decoration: none;
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.navbar a:hover {
  background-color: #000;
}

.team-logo {
  width: 125px;
  height: 150px;
}

.team-logo-right {
  width: 102px;
  height: 173px;
}

.next-game {
  padding-top: 20px;
  background: #042d01;
  color: white;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;

  :nth-child(n) {
    margin: 0 10px;
  }
}

.first-team {
  margin-left: 200px;
}

.second-team {
  margin-left: 100px;
}

.news-first-image {
  width: 611px;
  height: 468px;
  border-radius: 40px;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.news-other-image {
  width: 610px;
  height: 222px;
  background: #ffffff;
  border-radius: 12px;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.crowd-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  color: rgba(218, 165, 32, 0.8);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.gray-background {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 39.84%,
    rgba(88, 88, 88, 0.641224) 68.76%,
    #000000 100%,
    rgba(4, 45, 1, 0) 100%,
    rgba(0, 0, 0, 0.85) 100%
  );
}

.formStyle {
  color: black;
}

.input-field {
  width: 100%;
}

mat-label {
  color: black;
}

.border-default {
  border: 1px solid #000;
  border-radius: 15px;
}

.sponsors-logo-effect {
  filter: grayscale(100%);
  transition: all 0.3s;
}

.sponsors-logo-effect:hover {
  filter: grayscale(0%);
  transition: all 0.3s;
}

.sponsors-logo {
  width: 143px;
  height: 110px;
}

.sponsors-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #daa520;
}

.icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-ibr-footer {
  width: 72px;
  height: 49px;
}

.footer p {
  color: white;
}
