.form-field-pesquisa {
  position: relative;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #E0E7ED;
}

.form-field-select {
  @extend .form-field-pesquisa;
  margin: 0 10px;
  min-height: 37px;
  padding: 5px;
}

.input-search {
  border: none;
  min-height: 35px;
  border-radius: 8px;
  color: #494440;
  width: 100%;
  transition: all 0.5s;

  &:focus-visible {
    outline: none;
    box-shadow: 0 5px 23px -7px #90A0B7;
  }
}

.input-with-icon {
  padding-left: 40px;
  z-index: 1;
  background-color: transparent;
}
