// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'custom-red-palette.scss' as custom-red;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$crm-frontend-primary: mat.define-palette(custom-red.$custom-red-palette, 500);
$crm-frontend-accent: mat.define-palette(mat.$gray-palette, 700, A100, A400);

// The warn palette is optional (defaults to red).
$crm-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$crm-frontend-theme: mat.define-light-theme((
  color: (
    primary: $crm-frontend-primary,
    accent: $crm-frontend-accent,
    warn: $crm-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($crm-frontend-theme);

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Google Fonts Icons */
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

/* */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --vermelho-claro: #C30C00;
  --vermelho-escuro: #9A0000;
  --cinza-escuro: #494440;
  --cinza-claro: #777573;
}

/* Global styles */

@import 'assets/styles/fontes-default/fontes-default';
@import 'assets/styles/backgrounds/backgrounds';

.dialog-container-rounded {
  mat-dialog-container {
    border-radius: 12px 12px 0 0;
    padding: 32px 32px 26px 16px;
    box-sizing: content-box;
    overflow: inherit;
    position: relative;
  }
}

.mat-raised-button.default-button {
  border-radius: 8px !important;
  line-height: 32px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
