<workspace-tabs>
  <workspace-tab
    *ngFor="let plan of plans; let i = index"
    [id]="'panel-' + i"
    [tabTitle]="plan.title"
    [active]="i === 0">
    <div
      *ngIf="plan.annualMonthlyOptions"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="margin-20-px">
      <mat-button-toggle-group
        [(ngModel)]="model.buttonToggleModule"
        name="favoriteColor"
        aria-label="Favorite Color">
        <mat-button-toggle value="mensal"> Plano Mensal </mat-button-toggle>
        <mat-button-toggle value="anual" checked>
          Plano Anual
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <swiper [config]="config" class="margin-5-pct">
      <div class="swiper-wrapper">
        <div
          *ngFor="let level of plan.plan.levels"
          fxLayout="column"
          fxLayoutAlign="start center"
          class="swiper-slide">
          <div
            [style]="
              level.title === '' ? 'margin-top: 66px; text-align: left' : ''
            "
            [class]="getBackground(level)">
            <div *ngIf="level.title !== ''" class="card-titulo">
              <h1>{{ level.title }}</h1>
            </div>
            <div style="padding: 20px">
              <div *ngIf="plan.plan.data[0][level.property]">
                <div
                  *ngFor="let dado of plan.plan.data"
                  [class]="getClass(level.title === '', dado[level.property])">
                  <i
                    *ngIf="dado[level.property] === true"
                    class="fas fa-check"></i>
                  <i
                    *ngIf="dado[level.property] === false"
                    class="fas fa-times"></i>
                  <p
                    *ngIf="
                      dado[level.property] &&
                      typeOf(dado[level.property] !== 'boolean')
                    ">
                    {{ dado[level.property] }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="valor-plano">
            <div *ngIf="level.monthlyPlan && level.annualPlan">
              <h2>
                {{
                  model.buttonToggleModule === 'anual'
                    ? level.annualPlan
                    : level.monthlyPlan
                }}
              </h2>
            </div>
            <div
              *ngIf="
                !(level.monthlyPlan && level.annualPlan) &&
                (level.monthlyPlan || level.annualPlan)
              ">
              <h2>
                {{ level.annualPlan ? level.annualPlan : level.monthlyPlan }}
              </h2>
            </div>
          </div>
          <div
            class="valor-plano"
            *ngIf="!level.monthlyPlan && !level.annualPlan">
            <h2>&nbsp;</h2>
          </div>
          <div class="valor-plano" fxLayout="row" fxLayoutAlign="center center">
            <button *ngIf="level.button" class="btn-branco-vermelho">
              {{ level.button.name }}
            </button>
            <h2 *ngIf="!level.button">&nbsp;</h2>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </workspace-tab>
</workspace-tabs>
