
.backgroundManutencao {
  background-image: url("/assets/images/assinaturas/carroEmManutencao.png");
  background-size: contain;
  height: 100%;
}

.backgroundCondicoesEspeciais {
  background-image: url("/assets/images/assinaturas/condicoesEspeciais.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
}

.card-nivel {
  box-shadow: 0 0 5px;
  border-radius: 24px 24px 0 0;
  text-align: center;

  .card-titulo {
    min-width: 150px;
    max-width: 180px;
    height: 66px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px 24px 0 0;
    background-color: var(--cinza-escuro);

    h1 {
      margin-bottom: 0;
      font-family: 'Libre Baskerville';
      font-size: 24px;
      line-height: 30px;
      color: #F5F5F5;
    }
  }

  .card-conteudo {
    height: 50px;
    overflow: hidden;
    text-wrap: none;
    font-family: 'Libre Baskerville';
    font-size: 24px;
    line-height: 50px;
    color: var(--cinza-escuro);
  }

  .condicoes-especiais {
    //to-do
  }

  .numeros-niveis {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .vermelho {
    color: red;
  }
  .verde {
    color: green;
  }
}

.mat-button-toggle-group {
  border-radius: 12px;
  border-color: var(--vermelho-claro);
}

.mat-button-toggle {
  padding-inline: 20px;
  background-color: white;
  color: rgba(195,12,0, 0.5);

  font-family: 'Libre Baskerville';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.mat-button-toggle-checked {
  background-color: var(--vermelho-claro);
  color: white;
}

.valor-plano {
  h2 {
    margin: 15px 0;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: var(--vermelho-claro);
  }
}

.btn-branco-vermelho {
  border: solid 2px var(--vermelho-claro);
  border-radius: 12px;
  margin: 8px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.swiper-slide {
  max-width: 300px;
  width: auto;
  margin: 15px;
}
