@import "/src/assets/styles/fontes-default/fontes-default";

.container-login {
  background: #494440;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .paralelograma-vermelho {
    height: 100%;
    width: 80%;
    transform: skewX(10deg);
    background: #9A0000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);

    .card-login {
      min-height: 500px;
      min-width: 400px;
      padding: 5%;
      background: #494440;
      transform: skewX(-10deg);
      border-radius: 18px;
      box-shadow: 0 0 10px #000000;

      .form-floating {
        width: 100%;
        display: flex;
        position: relative;
        margin-bottom: 20px;
        min-height: 60px;
        border-radius: 18px;
        background-color: white;
        overflow: hidden;
        &:focus-within {
          border: solid #111 2px;
        }

        input {
          width: 100%;
          min-height: 30px;
          padding-top: 25px;
          padding-bottom: 5px;
          border-radius: 18px;
          background-color: white;
          border: none;
          text-indent: 19px;
          @extend .fonte-nunito-cinza-14px;
          &:focus-visible {
            outline: none;
          }
        }

        label {
          @extend .fonte-nunito-cinza-bold-14px;
          position: absolute;
          left: 22px;
          top: 10px;
        }

        .ng-invalid.ng-touched {
          border: red 2px solid;
          &:focus-visible {
            border: none;
          }
        }
        .icon-float-right {
          $raio: 18px;
          $diametro: 2*$raio;
          position: absolute;
          right: 12px;
          top: calc(50% - $raio);
          width: $diametro;
          height: $diametro;
          font-size: $diametro;
          border-radius: $raio;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #494440;

          transition: background-color 0.5s;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }

      .btn-transparent-b18white {
        width: 100%;
        background-color: inherit;
        min-height: 50px;
        border: solid 1px white;
        border-radius: 18px;
        transition: background-color 0.3s;
        cursor: pointer;
        @extend .fonte-nunito-branca;
        font-weight: 700;
        font-size: 20px;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
