<div class="container-login" fxLayoutAlign="center center">
  <div class="paralelograma-vermelho" fxLayoutAlign="center center">
    <form
      #form="ngForm"
      class="card-login"
      fxLayout="column"
      fxLayoutAlign=" center">
      <img
        src="../../assets/logoiBR.png"
        alt="Logo iBRSoft"
        style="margin-bottom: 12px" />
      <div class="form-floating mb-3">
        <input
          [(ngModel)]="model.email"
          class="form-control"
          type="text"
          name="login"
          id="login"
          required />
        <label for="login">Login</label>
      </div>
      <div class="form-floating mb-3">
        <input
          [(ngModel)]="model.password"
          #inputSenha
          class="form-control"
          type="password"
          name="senha"
          id="senha"
          required />
        <label for="senha">Senha</label>
        <mat-icon
          (click)="
            inputSenha.type = inputSenha.type === 'text' ? 'password' : 'text'
          "
          class="icon-float-right">
          {{ inputSenha.type === 'text' ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </div>
      <span
        class="fonte-nunito-branca-14px"
        style="
          cursor: pointer;
          text-align: right;
          width: 100%;
          padding-bottom: 20px;
        ">
        Esqueceu sua senha?
      </span>
      <button
        [disabled]="form.invalid || form.form.invalid"
        (click)="login()"
        class="btn btn-transparent-b18white fonte-nunito-branca-20px"
        type="submit">
        Login
      </button>
    </form>
  </div>
</div>
