<mat-sidenav-container autosize>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          [ngClass]="{ rotated: isExpanded }"
          mat-list-icon
          class="menu-button">
          menu
        </mat-icon>
        <span *ngIf="isExpanded" class="menu-item fonte-openSans-vermelha-18px">
          iBR Soft CRM
        </span>
      </mat-list-item>

      <mat-list-item>
        <img
          src="../../../../assets/kakashi.png"
          width="46px"
          height="46px"
          style="border-radius: 50%"
          alt="kakashi" />
        <span *ngIf="isExpanded" class="menu-item fonte-openSans-vermelha-18px">
          iBR Soft CRM
        </span>
      </mat-list-item>

      <mat-list-item
        *ngFor="let menu of menus"
        [routerLink]="menu.routerLink"
        [class]="menu.subList ? 'subListContent' : ''">
        <div
          [class]="menu.subList ? 'subListHeader' : ''"
          (click)="menu.subListExpanded = !menu.subListExpanded"
          fxLayoutAlign="start center">
          <mat-icon mat-list-icon>{{ menu.matIcon }}</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">{{ menu.name }}</span>
        </div>
        <mat-list
          *ngIf="menu.subList && menu.subListExpanded"
          style="width: 100%">
          <mat-list-item
            *ngFor="let menu of menu.subList"
            [routerLink]="menu.routerLink"
            style="width: 100%; padding: 0 16px 0 32px">
            <div>
              <mat-icon mat-list-icon>
                {{ menu.matIcon }}
              </mat-icon>
              <span *ngIf="isExpanded" class="menu-item">
                {{ menu.name }}
              </span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      class="toolbar"
      fxLayout="row"
      fxLayoutAlign="space-between center">
      <div
        class="fonte-poppins-cinza-claro-12px"
        fxFlex="50"
        fxLayout="row"
        fxLayoutAlign=" center"
        style="position: relative">
        <mat-icon style="position: absolute; left: 5px">search</mat-icon>
        <input
          type="text"
          id="search"
          class="input-search input-with-icon"
          placeholder="Busca Global" />
      </div>
      <button
        mat-icon-button
        style="color: #90a0b7"
        [matMenuTriggerFor]="notificationMenu">
        <mat-icon>notifications</mat-icon>
        <mat-menu #notificationMenu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item (click)="logOut()">LogOut</button>
        </mat-menu>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
