@import "/src/assets/styles/inputs/inputs";

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    mat-nav-list {
      .menu-item {
        margin-left: 8px;
      }

      .menu-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        color: #C30C00;
      }

      .menu-button.rotated {
        transform: rotate(180deg);
      }
    }
  }

  mat-sidenav-content {
    background-color: #f5f5f5;

    mat-toolbar {
      border-bottom: solid 1px rgba(0, 0, 0, 0.12);

      mat-icon {
        color: #90A0B7;
      }
    }
  }
}

.toolbar {
  background-color: white;
}

.subListContent {
  height: auto !important;
  min-height: 56px;
  width: 100%;

  ::ng-deep .mat-list-item-content {
    min-height: 56px;
    width: 100%;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  .subListHeader {
    width: 100%;
    padding: 0 16px;
  }
}
